<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="google-signin-client_id" content="662439114943-dbokhcupmiskkj3m4ducm3ik5kkion35.apps.googleusercontent.com.apps.googleusercontent.com">
    <title>Mini WP</title>
    <link rel="stylesheet" href="css/vueWysiwyg.css">
    <link rel="stylesheet" href="css/awesomeSearch.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="shortcut icon" type="image/x-icon" href="img/op.ico" />
</head>

<body>
    <div id="vue-miniwp">
        
        <navbar-wp class="container-fluid" @login-status="loginCurrentStatus" :islogin="isLogin" @change-page="changeCurrentPage" @search-tag="getArticleByTitle" ></navbar-wp>

        <login-form v-if="currentPage === 'login'" @login="cekLogin" @login-status="loginCurrentStatus"></login-form>
        <register-form v-if="currentPage === 'register'"  @change-page="changeCurrentPage"  ></register-form>

        <div v-if="currentPage === 'home'">

                <div class="container mt-3">
                        <div class="d-flex ">
                            <!-- sidebar -->
                            <sidebar @the-content="changeCurrentContent" 
                            class="nav flex-column col-sm-2 border border-primary rounded overflow-auto"></sidebar>
            
                            <!-- main content -->
                            <div class="col-sm-10 overflow-auto" style="height:450px">
                                <!-- search section -->
                                <div class="card" style="width:200px"  v-if="currentContent === 'search' ">
                                    <a href="#" class="btn btn-danger" @click="currentContent = '' ">Clear Search Results</a>
                                </div>
                                <br>
                                <div id="search-content" class="container overflow-auto pb-3"
                                     v-if="currentContent === 'search'"
                                    v-for="(search, index) in searchResult">
                                    <div class="card">
                                        <div class="card-header">
                                            #{{index+1}} {{ search.title }}
                                        </div>
                                        <div class="card-body">
                                            <h5 class="card-title">{{ search.title }}</h5>
                                            <p class="card-text">{{ search.content }}</p>
                                            <p class="card-text">{{ search.created_at }}</p>
                                            <a href="#" class="btn btn-warning">Baca lebih detail</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- if no search found -->
                                <div v-if="currentContent==='no articles found'">
                                    <img src="/assets/404.svg" alt="" style="height:200px;" class="d-flex justify-content-center text-center mx-auto" />
                                    <h5 class="font-weight-light mb-3 text-center">No articles found</h5>
                                </div>
                                <!-- add new article -->
                                <add-article v-if="currentContent === 'addArticle'" @add-new="newArticleData"></add-article>

                                <!-- list all article -->
                                <!-- <list-article v-if="currentContent === 'listAll' " :filtered="filtered"  ></list-article> -->
                                <div class="container d-flex justify-content-center ">
                                    <div class="searchbar"  >
                                        <input class="search_input" type="text" v-model="searchWord" placeholder="Search...">
                                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                                    </div>
                                </div>
                                <br>
            
                                <div id="content" class="container overflow-auto pb-3" v-for="(article, index) in filtered">
                                    <div class="card">
                                        <div class="card-header">
                                            #{{index+1}} {{ article.title }}
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="d-flex col-sm-2">
                                                    <img :src="article.image" alt="img" style="width:100%; height: 100px"
                                                        class="img-thumbnail">
                                                </div>
                                                <div class="d-flex flex-column col-sm-10">
                                                    <h5 class="card-title">{{ article.title }}</h5>
                                                    <p class="card-text" v-html="article.content"></p>
                                                    <p class="card-text">{{ formatedDate(article.createdAt) }}</p>
                                                </div>
                                            </div>
                                            <br>
                                            <div>
                                                <a href="#" class="btn btn-warning"
                                                    v-on:click="startEditArticle(index,article._id)">Edit Article</a>
                                                <a href="#" class="btn btn-danger" v-on:click="deleteArticle(article._id)">Delete
                                                    Article</a>
                                                <div v-if="form === index ">
                                                    <form method="POST" v-on:submit.prevent="submitEditArticle(article._id)">
                                                        <div class="form-group">
                                                            <label>Article Title</label>
                                                            <input type="text" class="form-control" v-model="title" id="name">
                                                        </div>
                                                        <div class="form-group">
                                                                <label>Image</label>
                                                                <input type="file" class="form-control" @change="uploadImage">
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Content</label>
                                                            <wysiwyg v-model="content" value="article.content" />
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Submit</button>
                                                        <a href="#" class="btn btn-warning"
                                                    v-on:click="form = ''">Cancel Edit</a>    
                                                    </form>
                                                </div>
                                                <div v-else></div>
                                            </div>
            
            
            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

        </div>
        

    </div>

    <!-- Footer -->
    <footer class="page-footer bg-info font-small blue fixed-bottom">

        <!-- Copyright -->
        <div class="footer-copyright text-center text-light py-1">© 2019 Copyright:
             Anton Hacktiv8
        </div>
        <!-- Copyright -->

    </footer>
    <!-- /Footer -->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <!-- <script src="js/index.js"></script> -->
    <script src="components/sidebar.js"></script>
    <script src="components/navbar.js"></script>
    <script src="components/loginForm.js"></script>
    <script src="components/registerForm.js"></script>
    <script src="js/vueWysiwyg.js"></script>
    <!-- <script src="components/listArticle.js"></script>
    <script src="components/editForm.js"></script> -->
    <script src="components/addArticle.js"></script>
    <script src="js/indexVue.js"></script>
</body>

</html>